#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,1,0
 PRODUCTVERSION 0,0,1,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Anchor Grid Plugin"
            VALUE "FileVersion", "0.0.1.0"
            VALUE "InternalName", "AnchorRadialMenu"
            VALUE "LegalCopyright", "Copyright (C) 2025"
            VALUE "OriginalFilename", "AnchorRadialMenu.aex"
            VALUE "ProductName", "Anchor Grid"
            VALUE "ProductVersion", "0.0.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

// PiPL Resource
// CRITICAL: All values must appear as Big Endian in memory.
// We use Little Endian compiler, so we must swap bytes in the .rc definition.
// Length 4 -> Memory: 00 00 00 04. RC: 0x0000, 0x0400.
16000  PiPL  DISCARDABLE
BEGIN
	0x0001, 		// Reserved
	0x0000, 		// kAEGP_PiPL_Version
	0x0400, 		// Property count: 4 (Memory: 00 04 -> 0x0400 in RC)
	
	// ----------------------------------------------------------
	// 1. Kind: 'AEGP'
	// Type: 'Kind' -> Memory: 4b 69 6e 64
	0x694b, 0x646e,
	// Flags: 0
	0x0000, 0x0000,
	// Length: 4 -> Memory: 00 00 00 04
	0x0000, 0x0400,
	// Data: 'AEGP' -> Memory: 45 41 47 50
	0x4145, 0x5047,
	
	// ----------------------------------------------------------
	// 2. Name: "AnchorGrid"
	// Type: 'Name' -> Memory: 4e 61 6d 65
	0x614e, 0x656d,
	// Flags: 0
	0x0000, 0x0000,
	// Length: 12 (0x0C) -> Memory: 00 00 00 0c
	0x0000, 0x0c00,
	// Data: "AnchorGrid\0\0"
	0x6e41, 0x6863, 0x726f, 0x7247, 0x6469, 0x0000,

	// ----------------------------------------------------------
	// 3. Category: "General"
	// Type: 'Catg' -> Memory: 43 61 74 67
	0x6143, 0x6774,
	// Flags: 0
	0x0000, 0x0000,
	// Length: 8 -> Memory: 00 00 00 08
	0x0000, 0x0800,
	// Data: "General\0"
	0x6547, 0x656e, 0x6172, 0x006c,

	// ----------------------------------------------------------
	// 4. Code: "EntryPointFunc"
	// Type: 'Cd64' -> Memory: 43 64 36 34
	0x6443, 0x3436,
	// Flags: 0
	0x0000, 0x0000,
	// Length: 16 (0x10) -> Memory: 00 00 00 10
	0x0000, 0x1000,
	// Data: "EntryPointFunc\0\0"
	0x6e45, 0x7274, 0x5079, 0x696f, 0x746e, 0x7546, 0x636e, 0x0000
END
